{# app/Reources/views/default/number.html.twig #}
{% extends 'default/index.html.twig' %}

{% block body %}

    {% block lucky %}

    <h1> Lucky Number is {{ number }}</h1>

    {% endblock %}

{% endblock %}